footer
  .content.container
    .row
      .col-sm-6
        div
          | CALL ME AT 
          h3.phone (249)-359-1044
      .col-sm-6
        nav.navbar.navbar-default
          ul.nav.navbar-nav.navbar-right
            li
              a(href='#') Terms of use
            li
              a(href='#') Privacy Policy
