.sticky-wrapper
  .navbar.navbar-default(role='navigation')
    .container
      .navbar-header
        button.navbar-btn.btn-sm.navbar-toggle(type='button' data-toggle='collapse' data-target='.navbar-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand.scroll-to(href='#intro')
      #navigation.collapse.navbar-collapse.navbar-left
        ul.nav.navbar-nav
          li.active
            a(href='#intro') DHVANIT
      #navigation.collapse.navbar-collapse.navbar-right
        ul.nav.navbar-nav
          li
            a(href='#about') About 
          li
            a(href='#services') Skills
          li
            a(href='#portfolio') Projects
          li
            a(href='#xp') Work Xp
          li
            a(href='#contact') Contact
