block globals

doctype html
html(lang="en")
    head
        link(rel='icon' href='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQS3mZ1NRp5H5gcuR6Yx0CEpk-ZEQm0VXM6Ga_KZSFhl7DfW6gyvQ' type='image/jpg')
        title Dhvanit24
        meta(name='description' content='')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(name='robots' content='all,follow')
        // Bootstrap and Font Awesome css
        // we use cdn but you can also include local files located in css directory
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.3/animate.min.css')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css')
        link(rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
        // Google fonts - Montserrat for headings, Cardo for copy
        link(rel='stylesheet' href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Cardo:400,400italic,700')
        // theme stylesheet
        link#theme-stylesheet(rel='stylesheet' href='/css/style.default.css')
        // ekko lightbox
        link(rel='stylesheet' href='/css/ekko-lightbox.css')
        // Custom stylesheet - for your changes
        link(rel='stylesheet' href='/css/custom.css')
        link(rel='stylesheet' href='/css/animate.css')


    
    body
        
        

        block content

        // Javascript files
        // jQuery
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
        script(src='js/jquery-1.11.0.min.js')
        // Bootstrap CDN
        script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
        script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js')
        script(type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer)
        // jQuery Cookie - For Demo Purpose
        script(src='js/jquery.cookie.js')
        // Lightbox
        script(src='js/ekko-lightbox.js')
        // Sticky + Scroll To scripts for navbar
        script(src='js/jquery.sticky.js')
        script(src='js/jquery.scrollTo.min.js')
        // google maps
        // main script
        script(src='js/front.js')



    

